@page "/users/manage"
@using TNG.Web.Board.Pages.Users;
@model ManageModel

<form id="delete" method="post">
    <button type="submit" asp-page-handler="Delete">
    Delete All Unverified
    </button>
</form>

