<div class="row icon-boxes">
    <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0 aos-init aos-animate" data-aos="zoom-in" data-aos-delay="200">
        <div class="icon-box">
            <div class="icon"><a href="https://fetlife.com/groups/1618"><i class="social-logo fetlife-logo"></i></a></div>
            <h4 class="title"><a href="https://fetlife.com/groups/1618">Fetlife</a></h4>
            <p class="description">
                Find us on Fetlife! Join us on the official <a href="https://fetlife.com/groups/1618">TNG AZ Group</a>
                or follow our <a href="https://fetlife.com/users/1525578">TNG AZ Profile</a> for group updates
            </p>
        </div>
    </div>

    <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0 aos-init aos-animate" data-aos="zoom-in" data-aos-delay="300">
        <div class="icon-box">
            <div class="icon"><a href="https://www.facebook.com/TNGArizona"><i class="social-logo facebook-logo"></i></a></div>
            <h4 class="title"><a href="https://www.facebook.com/TNGArizona">Facebook</a></h4>
            <p class="description">
                Yes, we are on Facebook, believe it or not! Check out community updates, events, 
                and see how a kink group acts on vanilla social media at our <a href="https://www.facebook.com/TNGArizona">Facebook Page</a>
            </p>
        </div>
    </div>

    <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0 aos-init aos-animate" data-aos="zoom-in" data-aos-delay="400">
        <div class="icon-box">
            <div class="icon"><a href="https://discord.gg/PvZzzyQpNK"><i class="social-logo discord-logo"></i></a></div>
            <h4 class="title"><a href="https://discord.gg/PvZzzyQpNK">Discord</a></h4>
            <p class="description">
               Join the official TNG Discord server to chat with new friends, post pictures from your kinky adventures,
                or get community information as it happens. Join us at <a href="https://discord.com/invite/eSbEzpzrz6">TNG Discord Server</a>
            </p>
        </div>
    </div>

    <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0 aos-init aos-animate" data-aos="zoom-in" data-aos-delay="500">
        <div class="icon-box">
            <div class="icon"><a href="https://github.com/TNG-AZ/"><i class="social-logo github-logo"></i></a></div>
            <h4 class="title"><a href="https://github.com/TNG-AZ/">Github</a></h4>
            <p class="description">
                To contribute to this community project, as well as other TNG technology initiatives, check out the
                <a href="https://github.com/TNG-AZ/">TNG-AZ Github Organization</a>
            </p>
        </div>
    </div>

    <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0 aos-init aos-animate" data-aos="zoom-in" data-aos-delay="500">
        <div class="icon-box">
            <div class="icon">
                <a href=" https://submit.gg/groups/tng-arizona">
                    <svg class="dark:fill-gold-500 fill-gold-700" width="32" viewBox="0 0 118 143" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M2.82812 110.309L90.5094 22.6273C94.4146 18.7221 100.746 18.7221 104.652 22.6273L114.551 32.5268L26.8698 120.208C22.9645 124.113 16.6329 124.113 12.7276 120.208L2.82812 110.309Z"></path> <path d="M7.07107 74.9533C3.16583 71.048 3.16582 64.7164 7.07107 60.8111L60.8112 7.07102C64.7164 3.16577 71.0481 3.16577 74.9533 7.07101L77.7817 9.89944C81.687 13.8047 81.687 20.1363 77.7817 24.0416L16.9706 84.8528L7.07107 74.9533Z"></path> <path d="M39.5979 132.936C35.6927 129.031 35.6927 122.699 39.5979 118.794L100.409 57.9827L110.309 67.8822C114.214 71.7875 114.214 78.1191 110.309 82.0244L56.5685 135.764C52.6632 139.67 46.3316 139.67 42.4264 135.764L39.5979 132.936Z"></path></svg>   
                </a>
            </div>
            <h4 class="title"><a href=" https://submit.gg/groups/tng-arizona">Submit</a></h4>
            <p class="description">
               Check us out on the up-and-cumming kink social media network, Submit
                <a href=" https://submit.gg/groups/tng-arizona">TNG-AZ Group</a>
            </p>
        </div>
    </div>
</div>