<div class="row icon-boxes">
    <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0 aos-init aos-animate" data-aos="zoom-in" data-aos-delay="200">
        <div class="icon-box">
            <div class="icon"><a href="https://fetlife.com/groups/1618"><i class="social-logo fetlife-logo"></i></a></div>
            <h4 class="title"><a href="https://fetlife.com/groups/1618">Fetlife</a></h4>
            <p class="description">
                Find us on Fetlife! Join us on the official <a href="https://fetlife.com/groups/1618">TNG AZ Group</a>
                or follow our <a href="https://fetlife.com/users/1525578">TNG AZ Profile</a> for group updates
            </p>
        </div>
    </div>

    <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0 aos-init aos-animate" data-aos="zoom-in" data-aos-delay="300">
        <div class="icon-box">
            <div class="icon"><a href="https://www.facebook.com/TNGArizona"><i class="social-logo facebook-logo"></i></a></div>
            <h4 class="title"><a href="https://www.facebook.com/TNGArizona">Facebook</a></h4>
            <p class="description">
                Yes, we are on Facebook, believe it or not! Check out community updates, events, 
                and see how a kink group acts on vanilla social media at our <a href="https://www.facebook.com/TNGArizona">Facebook Page</a>
            </p>
        </div>
    </div>

    <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0 aos-init aos-animate" data-aos="zoom-in" data-aos-delay="400">
        <div class="icon-box">
            <div class="icon"><a href="https://discord.gg/PvZzzyQpNK"><i class="social-logo discord-logo"></i></a></div>
            <h4 class="title"><a href="https://discord.gg/PvZzzyQpNK">Discord</a></h4>
            <p class="description">
               Join the official TNG Discord server to chat with new friends, post pictures from your kinky adventures,
                or get community information as it happens. Join us at <a href="https://fetlife.com/groups/1618">TNG Discord Server</a>
            </p>
        </div>
    </div>

    <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0 aos-init aos-animate" data-aos="zoom-in" data-aos-delay="500">
        <div class="icon-box">
            <div class="icon"><a href="https://github.com/TNG-AZ/"><i class="social-logo github-logo"></i></a></div>
            <h4 class="title"><a href="https://github.com/TNG-AZ/">Github</a></h4>
            <p class="description">
                To contribute to this community project, as well as other TNG technology initiatives, check out the
                <a href="https://github.com/TNG-AZ/">TNG-AZ Github Organization</a>
            </p>
        </div>
    </div>
</div>