<EditForm Model="Raffle" OnValidSubmit=@(async () => await SaveRaffle()) class="col-lg-12 col-xl-6">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        <label>Title:</label>
        <input type="text" class="form-control" required="required" @bind="Raffle.Title" />
        <label>Description:</label>
        <input type="text" class="form-control" required="required" @bind="Raffle.Description" />
        <label>Drawing Date:</label>
        <input type="date" class="form-control" required="required" @bind="Raffle.DrawingDate" />
        <label>Raffle Ticket Fee (in cents):</label>
        <input type="number" min="0" step="1" required="required" @bind="Raffle.RaffleEntryCostCents" /> <br/>
        <label>Image URL(s) (semicolon-separated values):</label>
        <input type="text" class="form-control" @bind="Raffle.ImageUrl" />
        <label>Fundraiser Cause:</label>
        <input type="text" class="form-control" @bind="Raffle.FundraiserCause" />
    </div>
    <button type="submit">Submit</button>
</EditForm>
