@page "/"
<section id="hero" class="row align-items-center" style="min-height:100vh;">
    <div class="col-md-12 col-lg-6">
        <h1 class="text-center align-middle title-header">
            We are <br />
            TNG <br />
            Arizona <br />
        </h1>
    </div>
    <div class="col-md-12 col-lg-6">
        <h2>Our Purpose</h2>
        <ul>
            <li>
                To provide a safe environment where people between the ages of 18 and 39 who are interested in BDSM and the kink and fetish lifestyles can have fun discovering and exploring alternative lifestyles, and can meet like-minded people
            </li>
            <li>
                To provide education and instruction about BSDM and the kink and fetish lifestyles and to teach the skills needed to engage in these lifestyles in a safe manner.
            </li>
            <li>
                To foster ties with other BDSM, kink and fetish organizations, and
            </li>
            <li>
                To promote public understanding and acceptance of BDSM and the kink and fetish lifestyles.
            </li>
        </ul>
    </div>
</section>

<section id="main" class="row">
    <h2 class="text-center col-12">What we do</h2><br />
    <div class="col-sm-12 col-md-6 col-lg-4">
        <div style="background-image: url('https://lh3.googleusercontent.com/L5x-dF6EqCJtrmjTQb4dgune-M_W-XpFusbMQdTuwysaxz4ZjF4nDC2SYcOb9ZpN2j7tGrHEBOmnaR8D=s606');
            height: 303px; background-size: cover;"></div>
        <br />
        <p class="text-center">Social Mixers</p>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
        <div style="background-image: url('https://lh3.googleusercontent.com/fBWedBkY_pfqOhIA0-2Kb2AswKtgN1bSBj14pjvRRHVhzOuvPQpF4vtOHKW7lta1Q98h8tR1o656bowkYg=s606');
            height: 303px; background-size: cover;"></div>
        <br />
        <p class="text-center">Member Exclusive Parties</p>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
        <div style="background-image: url('https://lh3.googleusercontent.com/A-BMWpQgi60my2Z_6gkYUOlPc0gZHy5zzUpkl93FCgx81jepluF1V9HRY-uf6e6E6KpyybhP1TWHua-u=s606');
            height: 303px; background-size: cover;"></div>
        <br />
        <p class="text-center">Educational Events</p>
    </div>
</section>
