<span>Event: @CalendarEvent.Summary</span>
<span>Member: @InvoiceMember.SceneName (@InvoiceMember.EmailAddress)</span>
<br/>
<label>Due Date: </label><input type="date" @bind=@DueDate/>
<br />
<br />
<label>Membership Dues</label>
<input type="number" min="0" step="1" @bind=@MembershipDuesCount/> x($@Fees.MembershipDues)
<br/>
<label>Entry - Member</label>
<input type="number" min="0" step="1" @bind=@PartyEntryMemberCount /> x($@Fees.MemberEntry)
<br />
<label>Entry - Guest</label>
<input type="number" min="0" step="1" @bind=@PartyEntryGuestCount/> x($@Fees.GuestEntry)
<br/>

<button type="button" @onclick=@SubmitInvoce>Send Invoice</button>