<button type="button" @onclick="@(async () => await TogglePrivate())">@TogglePrivateButtonText</button>
<EditForm Model="UserMember" OnValidSubmit=@(async () => await SaveUser()) class="col-lg-12 col-xl-6">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        <label>Scene Name:</label>
        <input type="text" class="form-control" required="required" @bind="UserMember!.SceneName" />
    </div>
    <div class="form-group">
        <label>Pronouns:</label>
        <select @bind=@PronounOption>
            <option value="h">He/Him/His</option>
            <option value="s">She/Her/Hers</option>
            <option value="t">They/Them/Theirs</option>
            <option value="c">Custom</option>
        </select>
        @if (PronounOption == 'c')
        {
            <input type="text" @bind=@CustomPronounText>
        }
    </div>
    <div class="form-group">
        <label>Profile URL (/members/view/yourURLHere)</label>
        <input type="text" class="form-control" @bind="UserMember!.ProfileUrl" maxlength="20" />
    </div>
    <div class="form-group">
        <label>About Me:</label><br />
        <textarea @bind="UserMember!.AboutMe" />
    </div>
    <button type="submit">Submit</button>
</EditForm>
