@using TNG.Web.Board.Data.DTOs
<table class="table">
    <thead class="thead-light">
        <tr>
            <th>
                Position
            </th>
            <th>
                Time
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var s in Slots ?? Enumerable.Empty<VolunteerEventSlot>())
        {
            <tr>
                <td>
                    @s.Position.Name
                </td>
                <td>
                    @(s.StartTime.HasValue ? $"{s.StartTime} {(s.DurationMinutes.HasValue ? $"- {s.StartTime.Value.AddMinutes(s.DurationMinutes.Value)}" : string.Empty)}" : string.Empty)
                </td>
                <td>
                    @{
                        var volunteered = s.SlotMembers.Any(m => m.MemberId == Member.Id);
                    }

                    @if (volunteered)
                    {
                        <button class="btn btn-success" disabled="disabled">Volunteered Already</button>
                    }
                    else
                    {
                        if (s.Position.RequiredRole != null)
                        {
                            var role = Member.VolunteerRoles.FirstOrDefault(r => r.Id == s.Position.RequiredRoleId);
                            if (role != null)
                            {
                                if (s.Position.RequireRoleApproval ?? false)
                                {
                                    if (role.Approval ?? false)
                                    {
                                        <button class="btn btn-primary" @onclick=@(async () => await Volunteer(s))>Volunteer</button>
                                    }
                                    else
                                    {
                                        <button class="btn btn-info" disabled="disabled">Waiting for role approval</button>
                                    }
                                }
                                else
                                {
                                    <button class="btn btn-primary" @onclick=@(async () => await Volunteer(s))>Volunteer</button>
                                }
                            }
                            else
                            {
                                <button class="btn btn-info" @onclick=@(async () => await RequestRole(s.Position.RequiredRole))>Request Role @s.Position.RequiredRole.Name</button>
                            }
                        }
                        else
                        {
                            <button class="btn btn-primary" @onclick=@(async () => await Volunteer(s))>Volunteer</button>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
