@page "/admin/volunteering/positions"
@using TNG.Web.Board.Data.DTOs
<h3>Positions</h3>

<label>New position:</label><input type="text" @bind=positionName/>
<button @onclick=@(() => CreatePosition())>Create</button>

@foreach(var p in Positions ?? Enumerable.Empty<VolunteerPosition>())
{
    <p>
        <label>@p.Name</label> - Required Role (optional) 
        <select @onchange=@((args) => ChangeRole(args, p))>
            <option>No Role</option>
            @foreach(var r in Roles ?? Enumerable.Empty<VolunteerPositionRole>())
            {
               <option value="@r.Id" selected=@(r.Id == p.RequiredRoleId)>@r.Name</option> 
            }
        </select>
        <label>Require Role to see Slot?</label><input type="checkbox" @bind=@p.RequireRoleApproval/>
    </p>
}
<button @onclick=SyncPositions>Save Positions</button>
