@page "/about"

<div class="container">
    <div class="col-lg-12 col-xl-6">
        <h3>About TNG:AZ</h3>

        <p>
            TNG-AZ is The Next Generation of Kink and Fetish in Arizona.
            We’re an educational and social group for ages 18-39 interested in exploring their fetishes, whatever they may be, from S&M to shoes.
            We hold play parties, coffees, munches, educational demos, discussions and other social functions where people can meet, get to know each other,
            and learn more about their own sexuality in a comfortable atmosphere.
            <br />
            <br />
            TNG-AZ is a registered 501 c (3) non-profit. Board members, educators, community members, and more volunteer their time and expertise so that TNG-AZ
            is able to keep events affordable and invest in better serving our community and members.
        </p>

        <br />
        <br />

        <h3>COVID-19 Considerations</h3>
        <p>
            We have a responsibility to mitigate the risk of community spread at our events. 
            At this current time the CDC recommends that individuals who have not been vaccinated continue to wear masks at small outdoor gatherings. 
            Those that have been vaccinated may choose to wear or not wear a mask. We will also be providing hand sanitizer.
            <br />
            <br />
            If you are sick, have a fever of 100 or more, or are experiencing any symptoms of being sick before an upcoming event, 
            we ask that you do not attend as we would like to prevent the spread of any airborne sicknesses.
        </p>
        <h3>Constition and Bylaws of TNG:AZ</h3>
        <ul>
            <li>
                <a href="~/Resources/Constitution/Constitution_2020_02_03.pdf">Consitution as of February 3rd, 2020</a>
                <ul>
                    <li>MD5 Hash - 39b882251daf92e841b6c7e9c3a7b476</li>
                </ul>
            </li>
        </ul>
    </div>
</div>
