@page "/about/faq"

<HeadContent>
    <meta property="og:title" content="TNG:AZ FAQ" />
    <meta property="og:description" content="Frequently Asked Questions" />
</HeadContent>

<div class="container">
    <div class="col-lg-12 col-xl-6">
        <h3>FAQ</h3>
        <blockquote>
        How do I become a member?
        </blockquote>
        <p>
        First, TNG membership is open to those 18-39. After that, TNG AZ requires all prospective members to attend at least one open to the community TNG event. This lets you meet us and lets us meet you before we get too involved together. After that, there is a short membership form to fill out and $12 annual dues.
        </p>
        <blockquote>
        Why 18-39?
        </blockquote>
        <p>
        <a href="https://fetlife.com/users/1443/posts/1439502">Click Here</a> for a detailed breakdown about TNG from one of the founders of the original group in NYC. We can't say it better ourselves.
        </p>
        <blockquote>
        What if my SO is out of the TNG AZ age range?
        </blockquote>
        <p>
        Your SO is welcome to come out to all our community events; we focus on the "younger" kinksters but educationals and socials are open to the public. All non parties events are open to the public unless otherwise noted: educationals, rope lab, socials, game night, etc. TNG AZ members are allowed to bring one guest to any of our member exclusive functions.
        </p>
        <blockquote>
        What if I'm out of age range and want to be involved?
        </blockquote>
        <p>
        We would love to hear from you. TNG AZ is always looking for community members with passion and knowledge about a wide variety of subjects. Many of the folks over the years presenting our discussions, educational events, and hosting parties have wanted to give back and found TNG AZ a worthy partner to work with in doing so. For those who continually go above and beyond in helping TNG fulfill our mission we often extend an honorary membership in recognition of all they do, granting those honorary members many of the same accesses to TNG AZ events. If you would like to learn more, please contact a board member.
        </p>
        <blockquote>
        Where does my membership fee/door fee/donation go?
        </blockquote>
        <p>
        TNG AZ is a registered 501 c (3) non-profit. Board members, DMs, community members and more volunteer their time and expertise so that TNG AZ is able to keep events affordable and invest in better serving our community and members. Funds are often spent on refreshments, party equipment, group furniture, and occasional community partnerships so as to make better experiences for our members and the community. If you would like to make a tax deductible donation, please contact a board member.
        </p>
    </div>
</div>