@page "/about/membership"

<HeadContent>
    <meta property="og:title" content="TNG:AZ Membership Wiki" />
    <meta property="og:description" content="Membership process for becoming a member or guest" />
</HeadContent>

<div class="container">
    <div class="col-lg-12 col-xl-6">
        <h3>Membership Process</h3>
        <h4 id="membership-eligibility">Membership Eligibility</h4>
        <ol>
            <li>Maintain a habitation in the Phenix area. This can be a dorm room, a parent you visit for 3 months out of the year or a commune out in Glendale. You must live in or be in Phoenix often enough to attend events.</li>
            <li>Age is between 18 and 39, inclusively. Anyone 40 or older is &quot;aged out&quot; and no longer eligible even if they were previously.</li>
        </ol>
        <ul>
            <li>If you are aged out of TNG, you may be invited to participate as an Honorary TNG Member if your contributions to TNG and the Phoenix kink scene are significant.</li>
        </ul>
        <ol start="3">
            <li>Have no active membership complaints. Consent violation, outing, direct-messaging on Discord without permission, and excessive &quot;cruising&quot; are all reasons you may not be eligible for membership.</li>
        </ol>
        <h4 id="requirements-for-membership">Requirements for Membership</h4>
        <ol>
            <li>Fill out the TNG New Member form <a href="https://tngaz.org/members/new">here</a>.</li>
            <li>Attend a community event. This includes munches, educationals, and generally any event that does not require an RSVP. Talk to a board member or ambassador to make sure we know you completed your social requirement</li>
            <li>Pay dues. Membership dues of $12 are due annually, and are included in your first invoice, or next invoice for renewing members</li>
            <li>Attend orientation. Orientations are typically held at the beginning of parties, but if there is interest they can also happen at community events. They are required for all new members, renewing members, and annually for guests</li>
        </ol>
        <h4 id="what-is-a-guest">What is a &quot;Guest&quot;</h4>
        <ul>
            <li>A guest is a person who does not qualify for membership, but is attending as a +1 of an active, new, or renewing member.</li>
            <li>Guests include people who have aged out (40 or older) or do not live in the Phoenix area.</li>
            <li>Guests do not include community members with active membership complaints</li>
            <li>Guests are the responsibility of the member they are attending with, and any membership issues caused by the guest will also directly reflect on the member they are attending with.</li>
        </ul>
    </div>
</div>
